.bot {
  background-color: skyblue;
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px;
  margin-top: 20px;
}
.bot:hover {
  background-color: blue;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: skyblue;
  min-width: 200px;
}
.dropdown-child a {
  color: blue;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}

@import url('https://fonts.googleapis.com;css?family=Roboto:300,400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

p {
  color: #828fa1;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  align-content: absolute;
}
.card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 2px 23px #26395338;
  width: 400px;
}

.mediaCard {
  background: url('https://sm.ign.com/t/ign_br/image/j/jujutsu-ka/jujutsu-kaisen-explaining-the-next-big-thing-in-anime_bvyw.1200.jpg')
    center/cover;
  height: 200px;
  width: 100%;
}

.tittle {
  color: #2b3d59;
}

.secondText {
  color: #828fa1;
}

.bottomText {
  color: #445b73;
}

.topCard {
  padding: 20px;
  padding-top: 0px;
}

.bottomCard {
  padding: 20px;
}

.actions {
  background: none;
  border: none;
  color: purple;
}

#mais {
  display: none;
}
