<div class="well" style="margin-bottom: 19px;">
{% for member in site.data.pi %}
<div class="row sidebar-info">
  <a href="{{site.url}}{{site.baseurl}}/about"><img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.photo-small }}" class="img-responsive" /></a>
  <center><h4>{{ member.name }}</h4>

   {% if member.website %}<a href="{{ member.website }}" target="_blank"><i class="fa fa-home fa-2x"></i></a> {% endif %}
   {% if member.email %}<a href="mailto:{{ member.email }}" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a> {% endif %}
   {% if member.cv %} <a href="{{ member.cv }}" target="_blank"><i class="ai ai-cv-square ai-2x"></i></a> {% endif %}
   {% if member.orcid %} <a href="{{ member.orcid }}" target="_blank"><i class="ai ai-orcid-square ai-2x"></i></a> {% endif %}
   {% if member.linkedin %} <a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a> {% endif %}
   {% if member.scholar %} <a href="{{ member.scholar }}" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i></a> {% endif %}
   {% if member.researchgate %} <a href="{{ member.researchgate }}" target="_blank"><i class="ai ai-researchgate-square ai-2x"></i></a> {% endif %}
   {% if member.github %} <a href="{{ member.github }}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a> {% endif %}
  </center>
  <div style="overflow: hidden; padding-left: 13px; padding-right: 0px; padding-top: 5px; padding-bottom: 10px;">
  {% if member.number_educ == 1 %}
  {{ member.education1short }} </br>
  {% endif %}

  {% if member.number_educ == 2 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {% endif %}

  {% if member.number_educ == 3 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {{ member.education3short }} </br>
  {% endif %}

  {% if member.number_educ == 4 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {{ member.education3short }} </br>
  {{ member.education4short }} </br>
  {% endif %}

  {% if member.number_educ == 5 %}
  {{ member.education1short }}</br>
  {{ member.education2short }}</br>
  {{ member.education3short }}</br>
  {{ member.education4short }}</br>
  {{ member.education5short }}</br>
  {% endif %}

  {% if member.number_educ == 6 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {{ member.education3short }} </br>
  {{ member.education4short }} </br>
  {{ member.education5short }} </br>
  {{ member.education6short }} </br>
  {% endif %}
  </div>
</div>

{% endfor %}
</div>

<div style="margin-bottom: 19px; ">
  <a class="twitter-timeline" data-height="470" data-theme="dark" href="https://twitter.com/robenlunardi?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

{% if site.data.events %}
<div class="well" style="padding: 0px">
<h4 style="padding-left: 10px">Upcoming events</h4>
  <div style="display: block; border-top: 1px solid rgba(145,165,180,.6); padding: 10px">
    <!-- how many future events to render -->
    {% assign render_limit = 5 %}
    <!-- counter of rendered events -->
    {% assign rendered = 0 %}
    <!-- iterate over events -->
    {% for article in site.data.events %}
      <!-- check if limit was reached -->
      {% if rendered == render_limit %}
        {% break %}
      {% endif %}
      <!-- extract information from dates for comparing things  -->
      {% assign start_month = article.date_start | date: "%m" %}
      {% assign start_year = article.date_start | date: "%Y" %}
      {% assign end_month = article.date_end | date: "%m" %}
      {% assign end_year = article.date_end | date: "%Y" %}
      {% assign end_formatted = article.date_end | date: '%s' %}
      {% assign today = 'now' | date: '%s' %}
      <!-- check if event is in the future -->
      {% if end_formatted > today %}
        <!-- different month and year -->
        {% if start_month != end_month && start_year != end_year %}
          <strong>{{ article.date_start | date: "%-d.%m.%y" }}</strong>–<strong>{{ article.date_end | date: "%-d.%m.%y" }}</strong>
        <!-- different month -->
        {% elsif start_month != end_month && start_year == end_year %}
          <strong>{{ article.date_start | date: "%-d.%m.%y" }}</strong>–<strong>{{ article.date_end | date: "%-d.%m.%y" }}</strong>
        <!-- same month -->
        {% elsif start_month == end_month && start_year == end_year %}
          <strong>{{ article.date_start | date: "%-d" }}</strong>–<strong>{{ article.date_end | date: "%-d.%m.%y" }}</strong>
        {% endif %}
        <p>{{ article.headline }}<br/>
        <i>{{ article.location }}</i></p>
        <!-- increase counter of rendered events -->
        {% assign rendered = rendered | plus:1 %}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

